@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
body {
  line-height: 1.4;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

.titulo {
    background-image: url(image/developer.png); /* Imagen de fondo */
    min-height: 100vh; /* Altura mínima del 100% de la ventana */
    background-position: center; /* Centra la imagen de fondo */
    background-size: cover; /* Escala la imagen de fondo para cubrir todo el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
  }

  .container {
    color: white; /* Color del texto */
    max-width: 900px; /* Ancho máximo */
    margin: 0 auto; /* Centra el contenedor */
    padding-top: 64px; /* Espaciado superior */
    padding-left: 16px; /* Espaciado izquierdo */
  }
  
  .texto_largo{
    font-size: 72px; /* Tamaño de fuente */
    font-weight: 400; /* Peso de fuente normal */
  }

  .caja_negra {
    background-color: #000; /* Color de fondo */
    padding: 20px; /* Espaciado interno */
  }

  .caja_negra h2{
    font-size: 72px; /* Tamaño de fuente */
    color: white; /* Color del texto */
    text-align: center; /* Centra el texto */
    font-weight: 300; /* Peso de fuente ligero */
  }

  .caja_negra h2 span {
    font-weight: 400; /* Peso de fuente normal */
    font-size: 96px; /* Tamaño de fuente */
  }

  .trabajo{
    display: grid; 
    gap: 20px; 
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); 
    max-width: 1100px; 
    margin: 50px auto; 
  }

  .red_articulo {
    display: flex; 
    justify-content: center;
    align-items: center; 
  }

  .carta {
    max-width: 320px; 
    height: 400px; 
    border-radius: 10px; 
    box-shadow: 3px 5px 5px rgba(1, 1, 1, 0.2);
    transition: 0.2s ease-in-out; 
  }

  .carta:hover {
    transform: scale(1.04); /* Escala la tarjeta */
    box-shadow: 3px 5px 5px rgba(1, 1, 1, 0.3); /* Sombra de caja */
    transition: 0.2s ease-in-out; /* Transición suave */
  }
  
  .comentari_carta {
    padding: 20px; /* Espaciado interno */
  }

  .comentari_carta h3 {
    margin-bottom: 10px; /* Margen inferior */
  }